/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Common */
.wrapper{
    max-width: 1280px;
    margin: auto;
}

/* header setion */
header{
    min-height: 150px;
}
/* /header setion */

/* barra di navigazione */
li{
    display: inline-block;
    margin-right: 15px;
}
li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #8A8A8A;
    font-size: large;
}

.logo{
    margin-bottom: 40px;
    height: 100px;
}
/* /barra di navigazione */

/* hero section  */
.hero{
    margin-top: 40px;
    min-height: 600px;
    background-image: url("../img/banner.jpg");
    background-position: center;
    background-size: cover;
    border: 1px transparent black;
    border-radius: 10px;
    padding-top:400px;
    padding-left: 40px;
}
.hero-text, .hero-bold-text{
    color: white;
    max-width: 50%;
    font-weight: 600;
}
.hero-bold-text{
    font-size:30px;
}
/* /hero section */

/* header float section */
.header-float{
    min-height: 100px;
    margin-top: 50px;
    font-weight: bolder;
}
.header-float h1{
    font-size: 40px;
}
.header-float p{
    color: #8A8A8A;
}
/* /header float section */

/* floating section */
.img-1,.img-2,.img-3{
    background-size: cover;
    background-position: center;
    border: 1px transparent black;
    border-radius: 10px;
}
.img-1{
    background-image: url(../img/img-1.jpg);
}
.img-2{
    background-image: url(../img/banner-2.jpg);
}
.img-3{
    background-image: url(../img/img-3.jpg);
}

.col div{
    border: 1px transparent black;
    border-radius: 10px;
    height: 300px;
    width: 100%;
}
.col p{
    color: #8A8A8A;
    margin-top: 20px;
}
.col h3{
    margin-top: 20px;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.left-col,.right-col{
    float: left;
    width: 20%;
    min-height: 700px;
    margin: 20px 0;
}

.mid-col{
    float: left;
    width: calc(60% - 40px);
    min-height: 700px;
    margin: 20px 20px; 
}



/* footer section */
footer{
    margin-top: 10px;
    margin-bottom: 20px;
}
footer h3{
    text-align: center;
}
footer h3::after{
    content: '\2665';
    color: red;
}
/* /footer section */
