/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Common */
.wrapper{
    max-width: 1280px;
    margin: auto;
}

header{
    min-height: 150px;
    border: 1px solid red;
}

.placeholder-img{
    margin-top: 30px;
    min-height: 600px;
    background-color: #e1d67a;
}
.header-float{
    min-height: 100px;
    background-color: #abcfe7;
    margin-top: 30px;
}

.wrapper-float{
    background-color: #0086ff;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.left-col,.right-col{
    float: left;
    width: 20%;
    min-height: 700px;
    margin: 20px 0;
    background-color: #abcfe7;
}

.mid-col{
    float: left;
    width: calc(60% - 40px);
    min-height: 700px;
    margin: 20px 20px;
    background-color: #abcfe7;  
}

footer{
    min-height: 75px;
    background-color: #8801fe;
    margin-top: 10px;
    margin-bottom: 20px;
}
/* barra di navigazione */
li{
    display: inline-block;
    margin-right: 8px;
}
li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #8A8A8A;
    font-size: large;
}

.logo{
    margin-bottom: 40px;
    height: 100px;
}
